<h1><%=@team_name%></h1>

<h3>Team Motto: <%=@team_motto%></h3>

<h2>Hero Name: <%=@hero1.name%></h2>

Hero Power: <%=@hero1.power%><br>
Hero Biography: <%=@hero1.bio%><br>

<h2>Hero Name: <%=@hero2.name%></h2>

Hero Power: <%=@hero2.power%><br>
Hero Biography: <%=@hero2.bio%><br>

<h2>Hero Name: <%=@hero3.name%></h2>

Hero Power: <%=@hero3.power%><br>
Hero Biography: <%=@hero3.bio%><br>
